
    <div class="container">
        <div class="box"><img src={{src1}} alt="Una foto"></div>
        <div class="box"><img src={{src2}} alt="Una foto"></div>
        <div class="box"><img src={{src3}} alt="Una foto"></div>
        <div class="box"><img src={{src4}} alt="Una foto"></div>
        
    </div>
    <div class="container">
        <a class="button" href="/">Go Back</a>
    </div>
