
    <div class="container">
        <h1>WELCOME</h1> <h2>{{{name}}}</h2> <h1>TO MY SITE</h1>
    </div>
    <div class="container">
        <h2>Enjoy the design!!</h2>
    </div>
    <div class="container">
        <a class="button" href="/gallery">Gallery</a>
        <a class="button" href="/about">About me</a>
    </div>
    <div class="container">
        <a class="button" id="party" href="#">Epilepsia</a>
    </div>
    <script type="text/javascript" src="/scripts/epi.js"></script>
{{> catName}}