<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script type="text/javascript" src="/scripts/jquery-1.10.2.js"></script>
    
</head>
<body>
    <div class="container">
        <h1>WELCOME TO MY SITE</h1>
    </div>
    <div class="container">
        <h2>Enjoy the design!!</h2>
    </div>
    <div class="container">
        <a class="button" href="/gallery">Gallery</a>
        <a class="button" href="/about">About me</a>
    </div>
    <div class="container">
        <a class="button" id="party" href="#">Epilepsia</a>
    </div>
    <script type="text/javascript" src="/scripts/epi.js"></script>
</body>
</html>
